@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-Medium.woff2') format('woff2'),
        url('../font/Barlow-Medium.woff') format('woff'),
        url('../font/Barlow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-Bold.woff2') format('woff2'),
        url('../font/Barlow-Bold.woff') format('woff'),
        url('../font/Barlow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-Black.woff2') format('woff2'),
        url('../font/Barlow-Black.woff') format('woff'),
        url('../font/Barlow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-Regular.woff2') format('woff2'),
        url('../font/Barlow-Regular.woff') format('woff'),
        url('../font/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-SemiBold.woff2') format('woff2'),
        url('../font/Barlow-SemiBold.woff') format('woff'),
        url('../font/Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('../font/Fraunces-9ptBlack.woff2') format('woff2'),
        url('../font/Fraunces-9ptBlack.woff') format('woff'),
        url('../font/Fraunces-9ptBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;

}

.conteiner {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    display: inline-block;
}

/* HEADEER */
.conteiner-header {
    display: flex;
    justify-content: space-between;
    padding: 43px 0 43px;
}

.header-list {
    display: flex;
    list-style: none;
}

.header-link {
    padding: 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #83888F;
}

/* FINISH-HEADER */
/* MAIN */
/* HERO-SECTION */
.conteiner-hero {
    padding: 137px 750px 137px 85px;
    background-image: url(../img/Bitmap-4.jpg);
    border-radius: 8px;
}

.hero-heading {
    margin: 0%;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.hero-desc {
    margin: 0;
    width: 445px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

/*FINISH HERO-SECTION */
/* OUR-COMMITMENT-SECTION */
.conteiner-our {
    padding: 174px 0 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1110px;
}

.our-right {
    padding: 90px 0 90px 125px;
}

.our-right-heading {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
}

.our-right-desc {
    width: 538px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;
}

/*FINISH OUR-COMMITMENT-SECTION */